body{
    background-image: url(../back2.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.head{
    margin-left: 30vw;  
}
.head img{
    
    position: fixed;
}
.change {
    color: rosybrown !important;
}

.sidebar li{
    font-size: 3vw;
    font-family: Lobster;
    margin-top: 5%;
   
    
}
.sidebar ul{
    list-style-type: none;
    margin-top: 20vw;
    position: fixed;
    top: 0;
    transition: left .5s;
}
.sidebary{
    display: flexbox;
    flex-direction: column;
    justify-content: space-around !important; 
}
.borgar{
    margin: 50px;
    position: sticky;
    top: 50px;
}
.borgar img{
    height: 50px;
}
.sidebarthere{
    left: -300px;
    transition: left 2s;
}

.sidebar a{
    text-decoration: none; 
    color: rgb(235, 183, 235);
}
.sidebar a:visited{
    color: rgb(235, 183, 235);
}
.sidebar a:hover{
    color: rgb(11, 107, 136);
}
.main{
    display: grid;
    grid-template-rows: 1500px;
}
