body{
    margin: 0;
    padding: 0;
    background-image: url(back2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.borgar{
    padding: 50px;
    width: 5vw;
    transition-duration: 1s;
}
.borgarpos{
    transform: rotate(180deg);
    
}
.logo{
    height: 10vw;
}
.header{
    display: flex;
    align-items: center;
    position: relative;
}
.cart{
    margin:75px 0 0 65vw;
    align-self: center;
    height: 10vw;
    width: 40vw;
    color: rgb(235, 183, 235);
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.cart a{
    text-decoration: none;
    color: rgb(235, 183, 235);
}
.cart a:hover{
    color: rgb(19, 140, 177);
}
.main{
    position: absolute;
    width: 65vw;
    height: 50vh;
    left: calc(40vw - 250px);
    top: 115%;
    text-align: center;
    margin: 0;
    overflow-y: visible;
}
.carousel{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.carouselimgcont{
    width: calc(100% * 3);
    position: relative;
    transition: 1s;
}
.carouselimg{
    float: left;
    margin: 0;
    padding: 0;
    height: 95%;
    width: 33.33%;
}


.buttoncont{
    position: relative;
    top: -15px;
}
.buttons{
    display: inline-block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(228,158,144,1) 37%, rgba(78,52,47,1) 100%);
}
#slide1:target ~ .carouselimgcont{
    left: 0%;
}
#slide2:target ~ .carouselimgcont{
    left: -100%;
}
#slide3:target ~ .carouselimgcont{
    left: -200%;
}

.sidebar{
    left: 0px;
    position: fixed;
    transition: left;
    transition-duration: 1s;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 30px;
  }
.sidebar li{
    display: block;
    width: 80px;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    margin: 30px;
    color: white;
    font-size: 20px;
}
.sidebar a{
    color: rgb(235, 183, 235);
    text-decoration: none;
}
.sidebar a:hover{
    color: rgb(11, 107, 136);
}
.sidebarthere{
    left: -300px;
}
