body{
    margin: 0;
    padding: 0;
    background-image: url(back2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.borgar{
    padding: 50px;
    width: 5vw;
}
.logo{
    height: 10vw;
}
.header{
    display: flex;
    align-items: center;
    position: relative;
}
.cart{
    margin-left: 50vw;
}
.main{
    position: absolute;
    width: 500px;
    left: calc(50vw - 250px);
    top: 115%;
    text-align: center;
}
.sidebar{
    left: 0px;
    position: absolute;
    transition: left 1s;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 30px;
  }
.sidebar li{
    display: block;
    width: 60px;
    font-family: "Lobster";
    margin: 30px;
    color: white;
    font-size: 20px;
}
.sidebar a{
    color: rgb(235, 183, 235);
    text-decoration: none;
}
.sidebar a:hover{
    color: rgb(11, 107, 136);
}
.sidebarthere{
    left: -300px;
}